<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="./sidebarStyle.css" rel="stylesheet" type="text/css" media="screen" />


  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.5.0/fetch.min.js"></script>
</head>

<body>
  <div id="app">
    <ul class="nav nav-pills mt-3 mb-1 d-flex justify-content-between" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active py-1" title="" id="pills-search-tab" data-toggle="pill" href="#pills-search"
          role="tab" aria-controls="pills-search" aria-selected="true"><small>Search</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link py-1" title="" id="pills-my-tab" data-toggle="pill" href="#pills-my" role="tab"
          aria-controls="pills-my" aria-selected="false">
          <small>My <i class="fa fa-refresh ml-1" v-on:click="getMyItems()"></i></small>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">

        <div class="container mt-3">
          <div class="row">
            <div class="col-12 p-0">
              <div class="input-group search-box">
                <input type="hidden" name="search_param" value="all" id="search_param" disabled="loadingTab3">
                <input @keyup.enter="search()" type="text" class="form-control form-control-sm"
                  style="padding-left: 10px" id="searchInput" placeholder="Search..." :disabled="loadingTab1">

                <button type="button" class="btn btn-sm btn-primary" v-on:click="search()">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>

        <div v-if="loadingTab1" class="col-12 d-flex justify-content-center mt-3">
          <div class="spinner-border spinner-border-sm text-light" role="status"></div>
        </div>

        <div class="card-deck" v-if="items" style="margin-top: 30px">

          <!-- Search Cards -->
          <div class='card' v-for="item in items" v-bind:key="item.id">
            <div v-if="item.image !== ''" class='card-img-top' :style="{'background-image': 'url('+ item.image +')'}"></div>
            <div class='card-block'>
              <p>
                <small class='card-text text-white'>{{item.description}}</small>
              </p>
              <div class="row col-12 mb-2">
                <button class="btn btn-sm btn-secondary mr-2" disabled>{{item.language}}</button>
                <button class="btn btn-sm btn-secondary" disabled>{{item.type}}</button>
              </div>
              <button class="btn btn-sm btn-primary float-right" v-on:click="selectOne(item)">
                View Code
              </button>
            </div>
          </div>

        </div>

        <div class="col-12" v-if="items && items.length === 0">
          <small class="text-primary">
            No results found
          </small>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-my" role="tabpanel" aria-labelledby="pills-my-tab">
        <div v-if="loadingTab3" class="col-12 d-flex justify-content-center">
          <div class="spinner-border spinner-border-sm text-light" role="status"></div>
        </div>
        <div class="card-deck" v-if="myItems" style="margin-top: 30px">
          <!-- Search Cards -->
          <div class='card' v-for="item in myItems" v-bind:key="item.id">
            <div v-if="item.image !== ''" class='card-img-top' :style="{'background-image': 'url('+ item.image +')'}"></div>
            <div class='card-block'>
              <p>
                <small class='card-text text-white'>{{item.description}}</small>
              </p>
              <div class="row col-12 mb-2">
                <button class="btn btn-sm btn-secondary mr-2 text-white" disabled>{{item.language}}</button>
                <button class="btn btn-sm btn-secondary text-white" disabled>{{item.type}}</button>
              </div>
              <button class="btn btn-sm btn-primary float-right" v-on:click="selectOne(item)">
                View Code
              </button>
              <button class="btn btn-sm btn-danger float-right mr-2" v-on:click="deleteItem(item)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

        <div class="col-12" v-if="myItems && myItems.length === 0">
          <small class="text-primary">
            No results found
          </small>
        </div>
      </div>
    </div>
</body>
<script nonce="${nonce}">
  var app = new Vue({
    el: '#app',
    data: {
      items: null,
      loadingTab1: false,
      loadingTab2: false,
      loadingTab3: false,
      typeSelected: 'All',
      itemsLiked: null,
      myItems: null
    },
    methods: {
      search: function () {
        this.loadingTab1 = true;
        this.items = null;
        const searchInput = document.getElementById('searchInput').value;
        // const type = this.typeSelected === 'All' ? '' : "&type=" + this.typeSelected;

        fetch("https://cardenasvscode.herokuapp.com/templates?description=" + searchInput, { method: 'GET' })
          .then(response => response.text())
          .then(result => {
            this.items = JSON.parse(result);
            this.loadingTab1 = false;
          })
          .catch(error => {
            vscode.postMessage({ type: 'onError', value: error.message });
            this.loadingTab1 = false;
          });
      },
      likes: function () {
        this.loadingTab2 = true;
        this.itemsLiked = null;
        fetch(`https://cardenasvscode.000webhostapp.com/controllers/like.php?idUser=####`, { method: 'GET' })
          .then(response => response.text())
          .then(result => {
            this.itemsLiked = JSON.parse(result);
            this.loadingTab2 = false;
          })
          .catch(error => {
            vscode.postMessage({ type: 'onError', value: error.message });
            this.loadingTab2 = false;
          });
      },
      getMyItems: function () {
        this.loadingTab3 = true;
        this.myItems = null;
        fetch(`https://cardenasvscode.herokuapp.com/templates?idUser=##userID##`, { method: 'GET' })
          .then(response => response.text())
          .then(result => {
            this.myItems = JSON.parse(result);
            this.loadingTab3 = false;
          })
          .catch(error => {
            vscode.postMessage({ type: 'onError', value: error.message });
            this.loadingTab3 = false;
          });
      },
      like: function (item) {
        var formData = new FormData();
        formData.append('idUser', this.userInfo.data.id);
        formData.append('idPost', item.id);
        fetch('https://cardenasvscode.herokuapp.com/likes', { method: 'POST', body: formData })
          .then(response => response.text())
          .then(result => {
            const likes = document.getElementById('id' + item.id).innerHTML;
            if (result === 'true') {
              document.getElementById('id' + item.id).innerHTML = +likes + 1;
            } else {
              document.getElementById('id' + item.id).innerHTML = +likes - 1;
            }
            this.likes();
          })
          .catch(error => {
            vscode.postMessage({ type: 'onError', value: error.message });
          });
      },
      deleteItem: function (item) {
        fetch('https://cardenasvscode.herokuapp.com/templates/' + item._id, { method: 'DELETE' })
          .then(response => response.text())
          .then(result => {
            this.search();
            this.likes();
            this.getMyItems();
          })
          .catch(error => {
            vscode.window.showErrorMessage('Error try again later');
          });
      },
      selectOne: function (item) {
        vscode.postMessage({ type: 'onStoryPress', value: item });
      },
      changeFilter(val) {
        this.typeSelected = val;
        this.search();
      }
    },
    mounted() {
      this.search();
      // this.likes();
      this.getMyItems();
    }
  })

  const vscode = acquireVsCodeApi();

</script>

</html>